
{% load staticfiles i18n cms_tags menu_tags sekizai_tags %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
    <link rel="stylesheet" href="{% static  "avana/css/style.css" %}">
    <link rel="stylesheet" href="{% static  "avana/css/landingpage.css"%}">
    <link rel="stylesheet" href="{% static  "avana/css/animate.css"%}">
    <title>{% block title %}{% page_attribute page_title %} - {{ request.site.name }}{% endblock title %}</title>
    {% render_block "css" %}
    {{ ALDRYN_SNAKE.render_head }}
</head>

<body class="header_sticky">
{% cms_toolbar %}

{% block header %}

    <div style="position: relative">
        <!-- menu & header -->
        <header id="header">
            <div class="col-lg-11 clearfix d-none d-sm-none d-lg-block" id="site-header-inner" style="margin: auto">
                <div class="top1">
                    <div id="logo" class="logo float-right">
                    {% staticplaceholder "logo white"%}
                        <a href="landingpage.html" title="logo">
                            
                            <img src="image/avana_logo_white.png" alt="image" width="107" data-retina=""
                                data-width="107">
                        </a>
                    </div>
                    <div id="logo2" class="logo  float-right">
                     {% staticplaceholder "logo black"%}
                        <a href="landingpage.html" title="logo">
                            
                            <img src="image/avana_logo_black.png" alt="image" width="107" data-retina=""
                                data-width="107">
                        </a>
                    </div>
                    <div class="nav-wrap ">
                        <!--  d-none d-sm-none d-lg-block -->
                        <nav id="mainnav" class="mainnav">
                            <ul class="menu">
                                <li class="mn">
                                    <a href="" data-toggle="modal" data-target="#mn">
                                        <!-- <i class="fas fa-bars"></i></a> -->
                                        <span class="iconify" data-icon="simple-line-icons:menu" data-inline="false"
                                            data-width="30" data-height="30"></span>
                                        <!-- The Modal -->
                                        <div class="modal fade" id="mn">
                                            <div class="mn">
                                                <div class="modal-dialog ">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <ul class="">
                                                            <li><a href="landingpage.html"
                                                                    style="border-bottom: 2px solid #A68164">Home</a>
                                                            </li>
                                                            <li><a href="about.html">ABOUT US</a></li>
                                                            <li><a href="landingpage.html#ourroom">OUR ROOMS</a></li>
                                                            <li><a href="landingpage.html#SERVICES">OUR SERVICES</a>
                                                            </li>
                                                            <li><a href="careers.html">Careers</a></li>
                                                            <li><a href="contact.html">CONTACT US</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </li>
                                <li class="sign">
                                    <a href="#" data-toggle="modal" data-target="#sign">
                                        <!-- <i class="fas fa-sign-in-alt"></i>  -->
                                        <span class="iconify" data-icon="simple-line-icons:lock" data-inline="false"
                                            data-width="20" data-height="20"></span> Log in
                                    </a>
                                    <!-- Modal  sign-->
                                    <div class="modal fade" id="sign" aria-labelledby="sign" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close" id="sign">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <div class="col-lg-12" style="margin: auto">
                                                        <div class="row">
                                                            <div class="col-md-7">
                                                            </div>
                                                            <div class="col-md-5">
                                                                <div class="fm1">
                                                                    <span>Welcome Back</span>
                                                                    <p>Sign in to continue</p>
                                                                    <form action="">
                                                                        <div class="form-group">
                                                                            <input type="email" class="form-control"
                                                                                placeholder="Email">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <input type="password" class="form-control"
                                                                                placeholder="Password">
                                                                        </div>
                                                                        <div class="submit-dn">
                                                                            <button type="submit" class="btn btn-block">
                                                                                SIGN IN
                                                                            </button>
                                                                        </div>
                                                                    </form>
                                                                    <div class="row linknew">
                                                                        <div class="col-6">
                                                                            <a href="#" class="linksign"
                                                                                data-toggle="modal"
                                                                                data-target="#forgot" class="close"
                                                                                data-dismiss="modal" aria-label="Close"
                                                                                id="sign">Forfot
                                                                                Password?
                                                                            </a>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <a href="#" data-toggle="modal"
                                                                                data-target="#create">Create
                                                                                Account</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="forgot" aria-labelledby="forgot" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close" id="forgot">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <div class="col-lg-12">
                                                        <div class="row">
                                                            <div class="col-md-7"></div>
                                                            <div class="col-md-5">
                                                                <div class="fm1">
                                                                    <span>Forgot your
                                                                        password?</span>
                                                                    <p>Don’t worry!
                                                                        Resetting
                                                                        your
                                                                        password is easy.
                                                                        Just type in the
                                                                        email
                                                                        you
                                                                        registered to us.
                                                                    </p>
                                                                    <form action="">
                                                                        <div class="form-group">
                                                                            <input type="email" class="form-control"
                                                                                placeholder="Email">
                                                                        </div>

                                                                        <div class="submit-dn">
                                                                            <button type="submit" class="btn btn-block">
                                                                                Sent
                                                                            </button>
                                                                        </div>
                                                                        <p style="font-size: 13px;
                                                                     margin-top: 10px; text-align: center; 
                                                                     margin-bottom: 170px;">
                                                                            You don’t have
                                                                            an
                                                                            account?
                                                                            <a class="linksign" href="#"
                                                                                data-toggle="modal" data-target="#sign"
                                                                                aria-labelledby="sign" class="close"
                                                                                data-dismiss="modal" aria-label="Close"
                                                                                id="forgot">
                                                                                Sign
                                                                                up
                                                                            </a>
                                                                        </p>
                                                                    </form>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="create" aria-labelledby="create" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close" id="create">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <div class="col-lg-12">
                                                        <div class="row">
                                                            <div class="col-md-7"></div>
                                                            <div class="col-md-5">
                                                                <div class="fm2">
                                                                    <span>Free Registration</span>
                                                                    <form action="">
                                                                        <div class="form-group"
                                                                            style="margin-top: 30px;">
                                                                            <input type="email" class="form-control"
                                                                                placeholder="Email">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="row">
                                                                                <div class="col-4">
                                                                                    <select name="" id=""
                                                                                        class="form-control">
                                                                                        <option value="">Mr</option>
                                                                                        <option value="">Ms</option>
                                                                                    </select>
                                                                                </div>
                                                                                <div class="col-8">
                                                                                    <input type="text"
                                                                                        class="form-control"
                                                                                        placeholder="First Name">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <input type="text" placeholder="Last Name"
                                                                                class="form-control">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <input type="text" placeholder="Password"
                                                                                class="form-control">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <input type="text"
                                                                                placeholder="Confirm Password"
                                                                                class="form-control">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <select name="" id="" class="form-control">
                                                                                <option value="">Việt Nam</option>
                                                                                <option value="">English</option>
                                                                                <option value="">Việt Nam</option>
                                                                                <option value="">English</option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <input type="number" placeholder="+84"
                                                                                class="form-control">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <input type="checkbox"> Email me exclusive
                                                                            booking engine promotions. I can unsubscribe
                                                                            at any time as started in the Privacy
                                                                            Policy.
                                                                        </div>
                                                                        <div class="submit-dn">
                                                                            <button type="submit" class="btn btn-block">
                                                                                submit
                                                                            </button>
                                                                        </div>

                                                                    </form>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown">
                                        <a href="#">EN <span class="iconify" data-icon="simple-line-icons:arrow-down"
                                                data-inline="false" data-width="18" data-height="18"></span></a>
                                        <div class="dropdown-content">
                                            <a href="#">VN</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="formbook">
                                    <a href="" data-toggle="modal" data-target="#myModal"> <span class="iconify"
                                            data-icon="simple-line-icons:bell" data-inline="false" data-width="18"
                                            data-height="18"></span> book now</a>

                                    <!-- The Modal -->
                                    <div class="modal fade" id="myModal">
                                        <div class="modal-book ">
                                            <div class="modal-dialog ">
                                                <div class="modal-content">

                                                    <!-- Modal Header -->
                                                    <div class="col-12 book">
                                                        <button type="button" class="close"
                                                            data-dismiss="modal">&times;</button>
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                                <div class="text-form col-lg-5">
                                                                    <h1>THE ULTIMATE
                                                                        COMFORT</h1>
                                                                    <p>Enjoy ultimate comfort in the rooms complete with
                                                                        everything we have carefully prepared for you to
                                                                        relax,
                                                                        from bedding materials to firmness of the
                                                                        mattress,
                                                                        lighting design, furniture layout and amenities.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4" style="background: #161e26">
                                                                <div class="col-lg-8 bookform" style="margin: auto">
                                                                    <form action="">
                                                                        <div class="form-group">
                                                                            <p>Arival Date</p>
                                                                            <div class='input-group date'
                                                                                id='datetimepicker1'>
                                                                                <input type='text'
                                                                                    class="form-control" />
                                                                                <span class="input-group-addon">
                                                                                    <i class="fas fa-calendar-alt"></i>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <p>Departure Date</p>
                                                                            <div class='input-group date'
                                                                                id='datetimepicker2'>
                                                                                <input type='text'
                                                                                    class="form-control" />
                                                                                <span class="input-group-addon">
                                                                                    <i class="fas fa-calendar-alt"></i>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="col-lg-8" style="margin: auto">
                                                                                <p>Adults</p>
                                                                                <select name="" id=""
                                                                                    class="form-control">
                                                                                    <option value="">1</option>
                                                                                    <option value="">2</option>
                                                                                    <option value="">3</option>
                                                                                    <option value="">4</option>
                                                                                    <option value="">4</option>
                                                                                    <option value="">10</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="col-lg-8" style="margin: auto">
                                                                                <p>Childs</p>
                                                                                <select name="" id=""
                                                                                    class="form-control">
                                                                                    <option value="">1</option>
                                                                                    <option value="">2</option>
                                                                                    <option value="">3</option>
                                                                                    <option value="">4</option>
                                                                                    <option value="">4</option>
                                                                                    <option value="">10</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="link-book">
                                                                            <button>CHECK AVAILABILITY</button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- menu moblie -->
        <div class="menu-mobile d-lg-none">
            <div class="row">
                <div class="col-2">
                    <li class="mn">
                        <a href="" data-toggle="modal" data-target="#mn1">
                            <!-- <i class="fas fa-bars"></i></a> -->
                            <span class="iconify" data-icon="simple-line-icons:menu" data-inline="false" data-width="30"
                                data-height="30"></span>
                            <!-- The Modal -->
                            <div class="modal fade" id="mn1">
                                <div class="mn1">
                                    <div class="modal-dialog ">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <ul>
                                                <li><a href="landingpage.html"
                                                        style="border-bottom: 2px solid #A68164">Home</a>
                                                </li>
                                                <li><a href="about.html">ABOUT US</a></li>
                                                <li><a href="landingpage.html#ourroom">OUR ROOMS</a></li>
                                                <li><a href="landingpage.html#SERVICES">OUR SERVICES</a></li>
                                                <li><a href="careers.html">Careers</a></li>
                                                <li><a href="contact.html">CONTACT US</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </li>
                </div>
                <div class="col-2">
                    <li class="sign2">
                        <a href="#" data-toggle="modal" data-target="#sign2"> <span class="iconify"
                                data-icon="simple-line-icons:lock" data-inline="false" data-width="20"
                                data-height="20"></span>
                        </a>
                        <!-- Modal  sign-->
                        <div class="modal fade" id="sign2" aria-labelledby="sign2" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                            id="sign2">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <div class="col-lg-12" style="margin: auto">
                                            <div class="row">
                                                <div class="col-md-7">
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="fm1">
                                                        <span>Welcome Back</span>
                                                        <p>Sign in to continue</p>
                                                        <form action="">
                                                            <div class="form-group">
                                                                <input type="email" class="form-control"
                                                                    placeholder="Email">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="password" class="form-control"
                                                                    placeholder="Password">
                                                            </div>
                                                            <div class="submit-dn">
                                                                <button type="submit" class="btn btn-block">
                                                                    SIGN IN
                                                                </button>
                                                            </div>
                                                        </form>
                                                        <div class="row linknew">
                                                            <div class="col-6">
                                                                <a href="#" class="linksign" data-toggle="modal"
                                                                    data-target="#forgot2" class="close"
                                                                    data-dismiss="modal" aria-label="Close"
                                                                    id="sign2">Forfot
                                                                    Password?
                                                                </a>
                                                            </div>
                                                            <div class="col-6">
                                                                <a href="#" data-toggle="modal"
                                                                    data-target="#create1">Create
                                                                    Account</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="forgot2" aria-labelledby="forgot2" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                            id="forgot2">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="col-md-7"></div>
                                                <div class="col-md-5">
                                                    <div class="fm1">
                                                        <span>Forgot your
                                                            password?</span>
                                                        <p>Don’t worry!
                                                            Resetting
                                                            your
                                                            password is easy.
                                                            Just type in the
                                                            email
                                                            you
                                                            registered to us.
                                                        </p>
                                                        <form action="">
                                                            <div class="form-group">
                                                                <input type="email" class="form-control"
                                                                    placeholder="Email">
                                                            </div>

                                                            <div class="submit-dn">
                                                                <button type="submit" class="btn btn-block">
                                                                    Sent
                                                                </button>
                                                            </div>
                                                            <p style="font-size: 13px;
                                                                 margin-top: 10px; text-align: center; 
                                                                 margin-bottom: 170px;">
                                                                You don’t have
                                                                an
                                                                account?
                                                                <a class="linksign" href="#" data-toggle="modal"
                                                                    data-target="#sign2" aria-labelledby="sign2"
                                                                    class="close" data-dismiss="modal"
                                                                    aria-label="Close" id="forgot2">
                                                                    Sign
                                                                    up
                                                                </a>
                                                            </p>
                                                        </form>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="create1" aria-labelledby="create1" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                            id="create1">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="col-md-7"></div>
                                                <div class="col-md-5">
                                                    <div class="fm2">
                                                        <span>Free Registration</span>
                                                        <form action="">
                                                            <div class="form-group" style="margin-top: 30px;">
                                                                <input type="email" class="form-control"
                                                                    placeholder="Email">
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-4">
                                                                        <select name="" id="" class="form-control">
                                                                            <option value="">Mr</option>
                                                                            <option value="">Ms</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-8">
                                                                        <input type="text" class="form-control"
                                                                            placeholder="First Name">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="text" placeholder="Last Name"
                                                                    class="form-control">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="text" placeholder="Password"
                                                                    class="form-control">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="text" placeholder="Confirm Password"
                                                                    class="form-control">
                                                            </div>
                                                            <div class="form-group">
                                                                <select name="" id="" class="form-control">
                                                                    <option value="">Việt Nam</option>
                                                                    <option value="">English</option>
                                                                    <option value="">Việt Nam</option>
                                                                    <option value="">English</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="number" placeholder="+84"
                                                                    class="form-control">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="checkbox"> Email me exclusive
                                                                booking engine promotions. I can unsubscribe
                                                                at any time as started in the Privacy
                                                                Policy.
                                                            </div>
                                                            <div class="submit-dn">
                                                                <button type="submit" class="btn btn-block">
                                                                    submit
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="col-2">
                    <li class="nn1">
                        <div class="dropdown">
                            <a href="#">EN <span class="iconify" data-icon="simple-line-icons:arrow-down"
                                    data-inline="false" data-width="18" data-height="18"></span></a>
                            <div class="dropdown-content">
                                <a href="#">VN</a>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="col-2">
                    <li class="formbook">
                        <a href="" data-toggle="modal" data-target="#myModal2"> <span class="iconify"
                                data-icon="simple-line-icons:bell" data-inline="false" data-width="18"
                                data-height="18"></span>
                        </a>

                        <!-- The Modal -->
                        <div class="modal fade" id="myModal2">
                            <div class="modal-book ">
                                <div class="modal-dialog ">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="col-12 book">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="text-form col-lg-5">
                                                        <h1>THE ULTIMATE
                                                            COMFORT</h1>
                                                        <p>Enjoy ultimate comfort in the rooms complete with
                                                            everything we have carefully prepared for you to
                                                            relax,
                                                            from bedding materials to firmness of the
                                                            mattress,
                                                            lighting design, furniture layout and amenities.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4" style="background: #161e26">
                                                    <div class="col-lg-8 bookform" style="margin: auto">
                                                        <form action="">
                                                            <div class="form-group">
                                                                <p>Arival Date</p>
                                                                <div class='input-group date' id='datetimepicker1'>
                                                                    <input type='date' class="form-control" />

                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <p>Departure Date</p>
                                                                <div class='input-group date' id='datetimepicker2'>
                                                                    <input type='date' class="form-control" />
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="col-lg-8" style="margin: auto">
                                                                    <p>Adults</p>
                                                                    <select name="" id="" class="form-control">
                                                                        <option value="">1</option>
                                                                        <option value="">2</option>
                                                                        <option value="">3</option>
                                                                        <option value="">4</option>
                                                                        <option value="">4</option>
                                                                        <option value="">10</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="col-lg-8" style="margin: auto">
                                                                    <p>Childs</p>
                                                                    <select name="" id="" class="form-control">
                                                                        <option value="">1</option>
                                                                        <option value="">2</option>
                                                                        <option value="">3</option>
                                                                        <option value="">4</option>
                                                                        <option value="">4</option>
                                                                        <option value="">10</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="link-book">
                                                                <button>CHECK AVAILABILITY</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="col-4">
                    <div class="lg-mb">
                        {% staticplaceholder "logo white"%}
                        <a href="landingpage.html"> 
                        <img src="./image/avana_logo_white.png" width="100%" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

{% block banner %}
        
 {% endblock banner%}   
    </div>

{% endblock header %}
{% block content %}

 {% endblock content %}   
{% block footer %}
    <footer>
        <div class="col-lg-11" style="margin: auto">
            <div class="row">
                <div class="col-md-5">
                    <div style="margin-top: 20px;">
                        <div class="row">
                            <div class="col-5">
                                <img src="image/avana_logo_white.png" width="100%" alt="">
                            </div>
                            <div class="col-7">

                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 30px">
                        <span>Social Media :</span>
                        <div style="margin-top: 15px;">
                            <i class="fab fa-facebook-square"></i>
                            <i class="fab fa-linkedin"></i>
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-pinterest-square"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-4">
                            <span>RESERVATION</span>
                            <div class="link-ft">
                                <li><a href="#">Make Reservation</a></li>
                                <li><a href="#">Manage Reservation</a></li>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <span>SPECIAL OFFERS</span>
                            <div class="link-ft">
                                <li><a href="#">Rooms</a></li>
                                <li><a href="#">Restaurant</a></li>
                                <li><a href="#">Pool</a></li>
                                <li><a href="#">Spa</a></li>
                                <li><a href="#">Gym</a></li>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <span>HOTEL SITES</span>
                            <div class="link-ft">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Our Rooms</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="careers.html">Careers</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-md-6">
                    <span>Credit Card Acceptance</span>
                    <div>
                        <img src="image/visa.PNG" width="60px" alt="">
                        <img src="image/carvisit.PNG" width="60px" alt="">
                        <img src="image/j.PNG" width="60px" alt="">
                        <img src="image/american.PNG" width="60px" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ft-SUBCRIBE">
                        <p>For More Discount</p>
                        <form action="">
                            <div class="row">
                                <div class="col-8">
                                    <input type="text" class="form-control" placeholder="Email">
                                </div>
                                <div class="col-4">
                                    <button class="btn btn-block" type="submit">SUBCRIBE</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="end-ft">
            <div class="col-lg-11" style="margin: auto">
                <div class="row">
                    <div class="col-md-6">
                        <span>Terms of Use · Privacy Policy</span>
                    </div>
                    <div class="col-md-6">
                        <span style="float: right;">Copyright 2019 hotelresort.com</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>

{% endblock footer %} 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static "avana/js/jquery.min.js" %}" ></script>
    <script src="{% static "avana/js/main.js" %}" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{% static "avana/js/jquery-2.1.1.js" %}" ></script>
    <script src="{% static "avana/js/moment.min.js" %}" ></script>
    <script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
    <link rel="stylesheet"
        href="https://rawgit.com/Eonasdan/bootstrap-datetimepicker/master/build/css/bootstrap-datetimepicker.min.css">
    <script
        src="https://rawgit.com/Eonasdan/bootstrap-datetimepicker/master/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="{% static "avana/js/wow.min.js" %}" ></script>
    <script>
        new WOW().init();
    </script>
{% render_block "js" %}
    {{ ALDRYN_SNAKE.render_tail }}

</body>

</html>
<script>
    $('#toggle').click(function () {
        $(this).toggleClass('active');
        $('#overlay').toggleClass('open');
    });

    // date
    $('#datetimepicker1').datetimepicker({
        defaultDate: new Date(),
        format: 'DD/MM/YYYY',
        sideBySide: true,
        icons: {
            next: "fa fa-chevron-right",
            previous: "fa fa-chevron-left",
            today: 'todayText',
        },
    });
    $('#datetimepicker2').datetimepicker({
        defaultDate: new Date(),
        format: 'DD/MM/YYYY',
        sideBySide: true,
        icons: {
            next: "fa fa-chevron-right",
            previous: "fa fa-chevron-left",
            today: 'todayText',
        },
    });

    // slide
    $('#sl1').owlCarousel({
        loop: true,
        margin: 50,
        nav: true,
        autoplay: true,
        autoplayHoverPause: true,
        navText: [
            "<span class='iconify right' data-icon='simple-line-icons:arrow-right' data-inline='false'></span>",
            "<span class='iconify left' data-icon='simple-line-icons:arrow-left' data-inline='false'></span>"
        ],
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 2
            },
            1000: {
                items: 2
            }
        }
    });


    $('.button').first().addClass('active');

    $('.button').click(function () {
        var $this = $(this);
        $siblings = $this.parent().children(),
            position = $siblings.index($this);
        console.log(position);

        $('.content div').removeClass('active').eq(position).addClass('active');

        $siblings.removeClass('active');
        $this.addClass('active');
    })

</script>