{% extends "index.html" %}
{% load cms_tags %}

{% block header %}
    {{block.super}}
   {% block banner %}
        <!-- slideshow -->
        <div id="slide1" class="carousel slide" data-ride="carousel" style="position: relative; z-index: 10;">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#slide1" data-slide-to="0" class="active"></li>
                <li data-target="#slide1" data-slide-to="1"></li>
                <li data-target="#slide1" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="image/bed-bedroom-clean-775219.png" width="100%">
                </div>
                <div class="carousel-item">
                    <img src="image/bed-bedroom-clean-775219.png" width="100%">
                </div>
                <div class="carousel-item">
                    <img src="image/bed-bedroom-clean-775219.png" width="100%">
                </div>
            </div>
            <div class="text-slide d-none d-sm-none d-lg-block wow fadeInLeft">
                {% placeholder "banner_text" %}
                
            </div>
        </div>
 {% endblock banner%}   
    
{% endblock header %}


{% block content %}

    <div class="ourroom" id="ourroom">
        <div class="col-lg-11" style="margin: auto">
            <div class="title" style="position: relative; width: 210px">
                <span class="title11">{% placeholder "our room"%}</span>
                <div class="line"> </div>
            </div>
            <div class="text-our wow fadeInRight">
                {% placeholder "our room text"%}
                
            </div>
        </div>
        <div class="tabour">
            <section id="tabs">
                <div class="col-lg-11" style="margin: auto;">
                    <div class="row">
                        <nav>
                            <div class="nav nav-tabs nav-fill wow fadeInLeft" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                                    role="tab" aria-selected="true"> {% placeholder "room superior"%} </a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                                    role="tab" aria-selected="false">{% placeholder "room delux"%}</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact"
                                    role="tab" aria-selected="false">{% placeholder "room signature"%}</a>
                                <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about"
                                    role="tab" aria-selected=" false">{% placeholder "room lucxury"%}</a>
                            </div>
                        </nav>
                        <div class="tab-content py-3 px-3 " id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                aria-labelledby="nav-home-tab">
                                <div class="row">
                                    <div class="col-md-8">
                                        {% placeholder "superior image"%}
                                       
                                    </div>
                                    <div class="col-md-4  wow fadeInRight">
                                        {% placeholder "superior room content"%}

                                        <div class="row linkview">
                                            <div class="col-5">
                                                {% placeholder "view room"%}
                                                
                                            </div>
                                            <div class="col-7">
                                                <div class="booknow">
                                                 {% placeholder "book now"%}
                                                    
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                aria-labelledby="nav-profile-tab">
                                <div class="row">
                                    <div class="col-md-8">
                                    {% placeholder "delux image"%}
                                       
                                    </div>
                                    <div class="col-md-4">
                                     {% placeholder "delux room content"%}
                                       
                                        <div class="row linkview">
                                            <div class="col-5">
                                                 {% placeholder "view room"%}
                                            </div>
                                            <div class="col-7">
                                                <div class="booknow">
                                                    {% placeholder "book now"%}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                                aria-labelledby="nav-contact-tab">
                                <div class="row">
                                    <div class="col-md-8">
                                          {% placeholder "signature image"%}
                                    </div>
                                    <div class="col-md-4">
                                         {% placeholder "delux room content"%}
                                       
                                        <div class="row linkview">
                                            <div class="col-5">
                                               {% placeholder "view room"%}
                                            </div>
                                            <div class="col-7">
                                                <div class="booknow">
                                                    {% placeholder "book now"%}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                                <div class="row">
                                    <div class="col-md-8">
                                        {% placeholder "luxury image"%}
                                    </div>
                                    <div class="col-md-4">

                                        
                                        {% placeholder "lucxury room content"%}
                                        <div class="row linkview">
                                            <div class="col-5">
                                                {% placeholder "view room"%}
                                            </div>
                                            <div class="col-7">
                                                <div class="booknow">
                                                    {% placeholder "book now"%}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="our2">
        <div class="col-lg-11" style="margin: auto">
            <div class="row">
                <div class="col-md-6 wow fadeInRight">
                    <div class="text-our2">

                        {% placeholder "hotel manager content"%}
                        

                    </div>
                </div>
                <div class="col-md-6 wow fadeInLeft">
                {% placeholder "hotel manager image"%}
                    
                </div>
            </div>
        </div>
    </div>

    <div class="our3" id="SERVICES">
        <div class="col-lg-11" style="margin: auto">
            <div class="title" style="position: relative; width: 250px">
                <span class="title11">{% placeholder "special offer"%} </span>
                <div class="line"> </div>
            </div>
            <div class="slide-our3 wow fadeInUp" data-wow-delay="0.6s">
                <div class="owl-carousel owl-theme owl-loaded" id="sl1">
                    <div class="owl-stage-outer">
                        <div class="owl-stage">
                            <div class="owl-item"> 
                                {% placeholder "spa service"%}
                                
                            </div>
                            <div class="owl-item">
                                {% placeholder "restaurant service"%}
                                
                            </div>
                            <div class="owl-item">
                                {% placeholder "executive service"%}
                                
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="our4">
        <div class="col-lg-11" style="margin: auto">
            <div class="row">
                <div class="col-md-7">
                    <div class="row img-our4">
                        <div class="col-6">
                            {% placeholder "hotel present image 1"%}
                            <img src="image/our31.png" width="100%" alt="" class="wow fadeInLeft" data-wow-delay="0.4s">
                        </div>
                        <div class="col-6">
                            {% placeholder "hotel present image 2"%}
                            <img src="image/our32.png" width="100%" alt="" class="wow fadeInLeft" data-wow-delay="0.2s">
                        </div>
                    </div>
                </div>
                <div class="col-md-5 wow fadeInUp">
                    {% placeholder "hotel present content"%}
                    
                </div>
            </div>
        </div>
    </div>

    <div class="our5">
        <div class="col-lg-11" style="margin: auto">
            <div class="title" style="position: relative; width: 280px">
                <span class="title11">{% placeholder "special service"%}</span>
                <div class="line"> </div>
            </div>
            <div class="nd-our5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="nd1 wow fadeInLeft">
                            <li><a data-toggle="tab" href="#sapa">{% placeholder "spa"%}</a> </li>
                            <li><a data-toggle="tab" href="#restau">{% placeholder "restaurant"%}</a></li>
                            <li><a data-toggle="tab" href="#pool">{% placeholder "pool"%}</a></li>
                            <li><a data-toggle="tab" href="#gym">{% placeholder "gym"%}</a></li>
                            <li><a data-toggle="tab" href="#room">{% placeholder "room"%}</a></li>
                        </div>
                        <div class="nd2 tab-content wow fadeInUp">
                            <div id="sapa" class="tab-pane fade show active">
                               {% placeholder "spa present"%}
                               
                            </div>
                            <div id="restau" class="tab-pane fade show">
                                 {% placeholder "restaurant present"%}
                            </div>
                            <div id="pool" class="tab-pane fade show">
                                {% placeholder "pool present"%}
                            </div>
                            <div id="gym" class="tab-pane fade show">
                                {% placeholder "gym present"%}
                            </div>
                            <div id="room" class="tab-pane fade show">
                                 {% placeholder "room present"%}
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 wow fadeInRight">
                        <div id="slideour" class="carousel slide" data-ride="carousel"
                            style="position: relative; z-index: 10;">
                            <ul class="carousel-indicators">
                                <li data-target="#slideour" data-slide-to="0" class="active"></li>
                                <li data-target="#slideour" data-slide-to="1"></li>
                                <li data-target="#slideour" data-slide-to="2"></li>
                                <li data-target="#slideour" data-slide-to="3"></li>
                                <li data-target="#slideour" data-slide-to="4"></li>
                            </ul>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    
                                    {% placeholder "spa image"%}
                                </div>
                                <div class="carousel-item">
                                    {% placeholder "restaurant image"%}
                                </div>
                                <div class="carousel-item">
                                    {% placeholder "pool image"%}
                                </div>
                                <div class="carousel-item">
                                    {% placeholder "gym image"%}
                                </div>
                                <div class="carousel-item">
                                   {% placeholder "room image"%}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="map">
        <div class="row">
            <div class="col-md-6">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6799306856365!2d106.68535761473365!3d10.75913219233325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752efc4170d349%3A0xaadb85685b8685a8!2zxJDGsOG7nW5nIFRy4bqnbiBIxrBuZyDEkOG6oW8sIEPhuqd1IEtobywgUXXhuq1uIDEsIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1570506973467!5m2!1svi!2s"
                    width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
            <div class="col-md-6">
                <div class="nd-map">
                    {% placeholder "hotel contact"%}
                </div>
            </div>
        </div>
    </div>
 {% endblock content %}   
 {% block footer %}
 {{block.super}}
 {% endblock footer%}