.about-banner{
    position: relative;
}
.about-banner img{
    filter: brightness(60%)
}
.title-banner{
    position:absolute; 
    top: 50%; 
    left: 5%; 
    color: white;
}
.title-banner h1{
    font-size: 60px;
    color: white
}
.title-banner p{
    font-size: 25px;
    width: 48%;
}
.our4{
    margin-top: 150px;
    background: #f0e9e4;
    padding-bottom: 100px;
}
.our4 label{
    margin-top: 50px;
    font-size: 40px;
    width: 60%
}
.our4 p{
    margin-top: 20px;
    font-size: 20px;
}
.img-our4 img{
    margin-top: -50px;
}
.our5{
    margin-top: 100px;
    margin-bottom: 50px;
}
.nd-our5{
    margin-top: 80px;
    background: #161E26;
}
.nd1{
    background: #fff;
    margin-top: -50px;
    padding-bottom: 10px;
}
.nd1 li{
    list-style: none;
    text-align: right;
    margin-right: 30px;
    margin-bottom: 15PX;
}
.nd1 li a{
    color: #161E26;
}
.nd2{
    padding: 50px;
}
.nd2 p{
    color: white
}
.nd2 a{
    color: #fff
}
.nd2 span{
    font-size: 30px;
    color: #a68164;
}
.loca span{
    font-size: 20px !important;
    color: #a68164;
}
#slideour{
    margin-top: -50px;
    margin-right: 30px;
}


.AWARDS{
    padding-top: 100px;
    padding-bottom: 100px;
}
.VALUE{
    position: relative;
}
.VALUE img{
    filter: brightness(60%)
}
.nd-about{
    position: absolute;
    bottom: 20%;
    left: 8%;
}
.nd-about h1{
    color: #fff
}
.nd-about .line{
    background: #fff
}
.nd-about p{
    font-size: 30px;
    color: white;
    width: 63%;
}
.nd-about2{
    position: absolute;
    bottom: 20%;
    right:  8%;
}
.nd-about2 p{
    font-size: 30px;
    color: white;
    text-align: right
}
.title2{
    position: relative;
}
.title2 h1{
    text-align: right;
    color: white;
}
.line2{
    height: 5px; background:#fff; width: 33px; position: absolute; right: 95px; bottom: 10px;
}
.link-room a{
    float: right;
    color: white;
    border: 1px solid #fff;
    padding: 10px 50px;
    font-size: 30px;
}
.text-val3 p{
    width: 80%;
}









@media(max-width: 414px){
    .our4{
        margin-top: 0px;
    }
    .our4 label {
        margin-top: 50px;
        font-size: 35px;
        width: 100%;
    }
    .title-banner h1{
        font-size: 30px;
        position: absolute;
        left: 30%;
    }
    .title-banner p{
       visibility: hidden;
    }
    .line2{
        visibility: hidden !important;
    }
    .line{
        visibility: hidden !important;
    }
    .VALUE h1{
        font-size: 20px;
    }
    .VALUE p{
        width: 100%;
        font-size: 14px;
    }
    .VALUE a{
        font-size: 14px;
    }
}

@media(min-width: 1024px){
    .our5 .col-md-4{
        padding-right: 0px !important;
    }
    .our5 .col-md-8{
        padding-left: 0px !important;
    }
}