.careers-banner{
    position: relative;
}
.careers-banner img{
    filter: brightness(80%)
}
.gt-careers{
    background: #f7f7f7;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
.gt-careers span{
    color: #a68164;
    font-size: 25px;
}
.gt-careers p{
    font-size: 20px;
    margin-top: 20px;
}

.ourteam{
    background: #e9e8e8;
    padding-top: 60px;
    padding-bottom: 60px;
}
.line2{
    height: 2px; width: 100px; background: #a68164
}
.gt-team{
    text-align: center
}
.gt-team span{
    font-size: 25px;
    color: #4a4a4a;
}
.gt-team p{
    font-size: 20px;
    margin-top: 20px;
}
.nd-slide{
    border-radius: 30px 5PX 30px 5px;
    background: #161e26;
    padding: 30px;    
    color: white;
}
.nd-slide span{
    color: #a68164;
    font-size: 25px;
}
.nd-slide p{
    font-size: 13px;
    margin-top: 10px;
}
.nd-slide a{
    color: #fff;
}
.owl-item{
    position: relative;
}
.slide-team{
    margin-top: 70px;
}
.slide-team .owl-dots{
    visibility: hidden;
}
.slide-team .right{
    position: absolute;
    top: 40%;
    right: -15px;
    font-size: 30px;
    color: #000
}   
.slide-team .left{
    position: absolute;
    top: 40%;
    left: -15px;
    font-size: 30px;
    color: #000
} 


.WORK{
    background: #f7f7f7;
    text-align: center;
    padding-top: 100px;
}
.WORK span{
    font-size: 30px;
    color: #4a4a4a;
}
.WORK p{
    font-size: 26px;
    width: 90%;
    margin: auto;
    color: #4a4a4a;
}
.img-work{
    margin-top: 50px;
    margin-bottom: 50px;
}
.nd-BENEFITS{
    background: #fff;
    box-shadow: 6px 4px 5px 5px rgba(199, 197, 197, 0.5);
    text-align: center;
    padding: 50px
}
.nd-BENEFITS i{
    font-size: 50px;
}
.nd-BENEFITS p{
   font-size: 15px;
   color: #a68164
}
.BENEFITS{
    margin-top: 50px;
    padding-bottom: 100px;
}
.img-work2{
    position: relative;
}
.img-work2 img{
    filter: brightness(50%)
}
.text-work{
    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-work p{
    font-size: 30px;
    color: #fff
}
.text-work span{
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
}







@media(max-width: 414px){
    .text-work{
        width: 100%;
    }
    .text-work p{
        font-size: 15px;
        color: #fff
    }
    .text-work span{
        text-transform: uppercase;
        color: #fff;
        font-size: 15px;
    }
    .WORK .col-6{
    padding-right: 0px;
    padding-left: 0px;
    }
    
}
@media(min-width: 768px){
    .img3 img{
        height: 333px;
    }
    .nd-slide{
        position: absolute;
        left: -70px;
        top: 60px;
        width: 95%;
    }
    .WORK .col-md-4{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .WORK .col-md-8{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .WORK .col-md-5{
        padding-right: 5px !important;
    }
    .WORK .col-6{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .img1{
        padding-right: 5px !important;
    }
    .img2{
        padding-left: 5px !important;
    }
}

@media(max-width:2560px){
    .img3 img{
        height: 550px;
    }
    .img4{
        width: 100%;
    }
    .img4 img{
        height: 345px;
    }
} 