.contact-banner{
    position: relative;
}
.contact-banner img{
    filter: brightness(60%)
}
.title-banner h1{
    position:absolute; 
    top:50%; 
    left:50%; 
    transform:translate(-50%, -50%); 
    color: white;
    font-size: 60px;
}
.nd-contact{
    margin-top: 100px;
    padding-bottom: 100px;
}
.icon-cont{
    text-align: center
}
.icon-cont p{
    font-size: 15px;
}
.icon-cont i{
    font-size: 35px;
    margin-bottom: 20px;
    color: #a68164;
}
.form-contact{
    width: 90%
}
.form-contact span{
    font-size: 30px;
}
.form-contact p{
    font-size: 15px;
    text-align: justify;
    margin-top: 20px;
}
.form-contact button{
    padding: 10px 40px;
    background: #161e26;
    color: #a68164;
    margin-top: 20px;
}



@media(max-width: 414px){
    .form-contact{
        width: 100%;
    }
    .icon-cont{
        margin-top: 50px;
    }
    .nd-contact {
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .contact-banner{
        width: 100%;
    }
    .contact-banner h1{
        font-size: 20px;
        top: 60%
    }
}