@font-face {
    font-family: "HelveticaNeue-Light";
    src: url('../font/Helvetica-Neue-Light.ttf')
  }
.detail-banner img{
    filter: brightness(50%)
}
.detail-banner{
    position: relative;
}
.text-banner{
    position: absolute;
    bottom: 18%;
    left: 6%;
    font-family: "HelveticaNeue-Light";
    font-weight: 400;
}
.text-banner h1{
    color: #ffffff;
    font-size: 50px;
}
.text-banner p{
    color: #fff;
    text-align: left;
    width: 75%;
}
.overview{
    margin-top: 100px;
}
.overview p{
    font-size: 30px;
    width: 65%;
}
.nd-detail span{
    color: #a68164;
    font-size: 30px;
}
.title1{
    margin-left: 10px;
}
.nd-detail p{
    font-size: 20px;
    margin-left: 10px;
}
table span{
    font-size: 18px !important;
}
.price{
    font-size: 25px;
    color: #a68164;
}
/* .link-book button{
    text-transform: uppercase;
    background: #161e26;
    margin-left: 10px;
} */
.link-book a{
    color: white;
    text-decoration: none
}

.detail2{
    background: #161e26;
    margin-top: 80px;
    padding-bottom: 80px;
}
.nd-detail2{
    margin-top: 80px;
    padding-left: 100px
}
.nd-detail2 span{
    color: #a68164;
    text-transform: uppercase;
}
.nd-detail2 li{
    color: white
}
.our3{
    margin-top: 100px;
}
.slide-our3{
    margin-top: 50px;
}
.slide-our3 span{
    font-size: 40px;
}
.slide-our3 img{
    margin-top: 20px;
}

.fa-arrow-circle-right{
    position: absolute;
    top: 40%;
    right: -35px;
    font-size: 30px;
    color: #000
}
.fa-arrow-circle-left{
    position: absolute;
    top: 40%;
    left: -35px;
    font-size: 30px;
    color: #000
}
.img-other{
    position: relative;
}
.ct-price{
    position: absolute;
    right: 0;
    bottom: 0;
    background: #161e26;
    padding: 10px
}
.ct-price span{
    color: #a68164;
    text-transform: uppercase;
    font-size: 30px;
}
.title-room{
    color: #a68164;
    font-size: 30px !important;
    margin-top: 20px;
}
.slide-our3 p{
    font-size: 20px;
}
.slide-our3 a{
    color: #a68164;
    text-decoration: underline;
}
.slide-our3 .owl-dots{
    visibility: hidden;
}
.link-room{
    padding-top: 50px;
    padding-bottom: 30px;
}
.link-room a{
    background: #161e26;
    padding: 10px 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px !important;
}
.special{
    margin-bottom: 100px;
    margin-top: 150px;
}
.special .col-lg-11{
    background: #161e26;
    margin: auto
}
.nd-special{
    background: #a68164;
    padding: 50px 80px;
    text-align: center;
    margin-top: -60px;
}
.nd-special span{
    font-size: 50px;
    color: white
}
.nd-special2{
    background: #161e26;
    padding: 50px;
    text-align: left;
}
.nd-special2 span{
    color: #a68164;
    font-size: 30px;
}
.nd-special2 p{
    color: white ;
    margin-bottom: 50px;
}
.link-book a{
    text-transform: uppercase;
    color: white;
    background: #a68164;
    padding: 10px 50px
}
.slide-spec{
    margin-top: -30px;
}



@media(max-width: 414px){
    .overview p{
        font-size: 18px;
        width: 100%;
    }
    .overview{
        margin-top: 50px;
    }
    .text-banner{
        position: absolute;
        top: 18%;
        left: 6%;
    }
    .text-banner h1{
        color: #ffffff;
        font-size: 30px;
    }
    .text-banner p{
        color: #fff;
        text-align: left;
        font-size: 15px;
    }
}

@media(min-width: 1024px){ 
    .special .col-md-4{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .special .col-md-8{
        padding-left: 0px !important;
   
    }

}