@font-face {
    font-family: "Helvetica-Light";
    src: url('../font/Helvetica-Light.ttf')
}
body{
    font-family: "Helvetica-Light";
}
p{
    color: #161E26;
}
.text-slide{
    position: absolute;
    bottom: 18%;
    left: 6%;
    width: 700px;
    font-family: "Helvetica-Light";
    font-weight: 400;
}
.text-slide h1{
    color: #ffffff;
    font-size: 50px;
}
.text-slide p{
    color: #fff;
    text-align: left;
    width: 55%;
}
.ourroom{
    padding-top: 90px;
}
.ourroom .title11{
    color: #a68164;
    font-size: 24px;
}
.text-our p{
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.5;
}
.tabour{
    margin-top: 30px;
}
.tab-content{
    width: 100%;
}
.tab-content h2{
    margin-top: 50px;
    text-transform: uppercase;
}
.tab-content span{
    color: #a68164;
    font-size: 20px;
}
.ourroom .nav-tabs{
    border-bottom: none !important;
}
  
.title1{
    margin-top: 50px;
    font-size: 24px;
    text-transform: uppercase;
}
.nd-tab{
    font-size: 18px;
}
#tabs{
    color: #000;
}
#tabs h6.section-title{
    color: #000;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #161e26;
    background-color: transparent;
    border-color: transparent transparent #161e26;
    border-bottom: 4px solid #a68164 !important;
    font-size: 18px;
 
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    color: #000;
    font-size: 18px;
    margin-right: 40px;
}
.linkview{
    margin-top: 50px;
}
.linkview a{
    color: #a68164;
    text-decoration: underline;
    margin-bottom: 50px;
}
.booknow a{
    padding: 10px 25px;
    background: #161e26;
    text-transform: uppercase;
    color: #a68164;
    text-decoration: none;
    text-align: right
}
.our2{
    margin-top: 100px;
    background: #f0e9e4;
}

.text-our2{
    width: 75%;
    margin-top: 150px;
}
.text-our2 img{
    width: 75%;
    margin-top: 20px;
    margin-bottom: 50px;
}
.text-our2 label{
    text-transform: uppercase;
    font-size: 20px;
}
.our3{
    padding-top: 130px;
}
.our3 .title11{
    color: #a68164;
    font-size: 24px;
    text-transform: uppercase;
}
.slide-our3{
    margin-top: 50px;
}
.slide-our3 span{
    font-size: 20px;
}
.slide-our3 img{
    margin-top: 20px;
}
.slide-our3 p{
    margin-top: 30px;
}
.slide-our3 a{
    color: #a68164;
    text-decoration: underline;
    float: right;
    font-size: 20px;
}

.our4{
    margin-top: 150px;
    background: #f0e9e4;
    padding-bottom: 100px;
}
.our4 label{
    margin-top: 50px;
    font-size: 24px;
}
.our4 p{
    margin-top: 20px;
    font-size: 14px;
}
.img-our4 img{
    margin-top: -50px;
}
.owl-dots{
    visibility: hidden;
}
.our5{
    margin-top: 100px;
    margin-bottom: 50px;
}
.our5 .title11{
    color: #a68164;
    font-size: 24px;
}
.nd-our5{
    margin-top: 80px;
    background: #161E26;
}
.nd1{
    background: #fff;
    margin-top: -50px;
    padding-bottom: 10px;
}
.nd1 li{
    list-style: none;
    text-align: right;
    margin-right: 30px;
    margin-bottom: 15PX;
}
.nd1 li a{
    color: #161E26;
}
.nd2{
    padding: 50px;
}
.nd2 p{
    color: white;
    font-size: 14px;
}
.nd2 a{
    color: #fff
}
.nd2 span{
    font-size: 24px;
    color: #a68164;
}
.loca span{
    font-size: 18px !important;
    color: #a68164;
}

.map{
    background: #F0E9E4;
}
.nd-map{
    margin-top: 40px;
    padding: 50px;
    width: 80%
}
.nd-map span{
    font-size: 24px;
    color: #a68164
}
.nd-map p{
    color: #161e26;
    font-size: 18px;
    margin-top: 30px;
}
.nd-map li{
    list-style: none;
    font-size: 14px;
    color: #161E26;
}
.nd-map i{
    margin-right: 15px;
}
#slideour{
    margin-top: -50px;
    margin-right: 30px;
}







@media(max-width: 414px){
    .ourroom {
        padding-top: 30px;
    }
    .our3 {
        padding-top: 50px;
    }
    .our4 {
        margin-top: 50px;
    }
    .our5 {
        margin-top: 50px;
    }
    .text-our2{
        width: 100%;
        margin-top: 50px;
    }
    .text-our2 p{
        width: 100%
    }
    .text-our p{
        font-size: 18px;
        line-height: 25px;
    }
    .slide-our3 .right{
        right: 0;
        top:40%
    }
    .slide-our3 .left{
        left: 0;
        top:40%
    }
}
@media(min-width: 1024px){
    .our5 .col-md-4{
        padding-right: 0px !important;
    }
    .our5 .col-md-8{
        padding-left: 0px !important;

    }
    .slide-our3 .right{
        position: absolute;
        top: 40%;
        right: -35px;
        font-size: 30px;
        color: #000
    }
    .slide-our3 .left{
        position: absolute;
        top: 40%;
        left: -35px;
        font-size: 30px;
        color: #000
    }
}