@font-face {
    font-family: "HelveticaNeue-Light";
    src: url('../font/Helvetica-Neue-Light.ttf')
  }
.RESTAURANT{ 
    margin-bottom: 100px ;
}

.detail-banner img{
    filter: brightness(50%)
}
.detail-banner{
    position: relative;
}
.text-banner{
    position: absolute;
    bottom: 18%;
    left: 6%;
    font-family: "HelveticaNeue-Light";
    font-weight: 400;
}
.text-banner h1{
    color: #ffffff;
    font-size: 50px;
}
.text-banner p{
    color: #fff;
    text-align: left;
    font-size: 25px;
    width: 75%;
}
.overview{
    margin-top: 100px;
    padding-bottom: 70px;
}
.overview p{
    font-size: 30px;
    width: 65%;
}
.nd-detail span{
    color: #a68164;
    font-size: 30px;
}
table span{ 
    font-size: 20px !important;
}

.pool{
    margin-top: 100px;
}
.gym{
    margin-top: 100px;
    margin-bottom: 50px;
}
.special{
    margin-bottom: 100px;
}
.special .col-lg-11{
    background: #161e26;
    margin: auto
}
.nd-special{
    background: #a68164;
    padding: 50px 80px;
    text-align: center;
    margin-top: -60px;
}
.nd-special span{
    font-size: 50px;
    color: white
}
.nd-special2{
    background: #161e26;
    padding: 50px;
    text-align: left;
}
.nd-special2 span{
    color: #a68164;
    font-size: 30px;
}
.nd-special2 p{
    color: white ;
    margin-bottom: 50px;
}
.link-book a{
    text-transform: uppercase;
    color: white;
    background: #a68164;
    padding: 10px 50px
}
.slide-spec{
    margin-top: -30px;
}


@media(max-width: 414px){
    .overview {
        margin-top: 50px;
    }
    .text-our  p{
        width: 100%;
        font-size: 15px;
    }
    .text-banner{
        position: absolute;
        top: 18%;
        left: 6%;
    }
    .text-banner h1{
        color: #ffffff;
        font-size: 30px;
    }
    .text-banner p{
        color: #fff;
        text-align: left;
        font-size: 15px;
    }
}

@media(min-width: 1024px){ 
    .spa .nd-detail{
        margin-top: 100px;
    }
    .pool .nd-detail{
        margin-top: 100px;
    }
    .gym .nd-detail{
        margin-top: 100px;
    }
    #slide5 img{
        width: 95%
    }
    .special .col-md-4{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .special .col-md-8{
        padding-left: 0px !important;
   
    }
    .gym{
        margin-bottom: 150px;
    }
}