*{
    margin: 0px;
    padding: 0px;
}
@font-face {
  font-family: "HelveticaNeue-Light";
  src: url('../font/Helvetica-Neue-Light.ttf')
}
#header {
  z-index: 99;
  position: absolute;
  width: 100%;
  font-family: "HelveticaNeue-Light";
}
#header #logo{
  right: 0 !important;
}
#site-header-inner {
  position: relative;
  height: 100%;
  /* padding: 23px 0px 20px; */
  
}
#site-header-inner a{
  color: black;
}
.top1{
  margin-left: 30px;
}
.top1 a{
  text-transform: uppercase;
}
#header.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
  box-shadow: 0px 15px 10px -15px #ccc;  
}

.is-fixed #logo2 {
  display: block;
}

#logo2 {
  display: none;
  margin-top: 15px;
  margin-right: 40px;
}
#logo {
  margin-top: 15px;
  margin-right: 40px;
}
.is-fixed #logo {
  display: none;
}
.is-fixed #mainnav>ul>li>a {
  color: #FFF;
}

.is-fixed #site-header-inner {
  background: #fff;
}

.is-fixed #mainnav>ul>li>a {
  color: #000;
}
.is-fixed #mainnav li .dropdown a{
  color: black
}
#mainnav li .dropdown a{
  color: #fff
}

.is-fixed #logo2 {
  display: block;
}

#logo2 {
  display: none;
}

.is-fixed #logo {
  display: none;
}

#mainnav>ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#mainnav ul li {
  position: relative;
}

#mainnav>ul>li {
  display: inline-block;
}

#mainnav>ul>li>a {
  font-weight: 500;
  color: #fff;
  font-size: 15px;
  line-height: 88px;
  margin: 0px 16.8px;
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
 
}

.carousel-indicators > li {
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background-color: #fff;
}
.button_container {
    position: fixed;
    top: 7%;
    left: 3%;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    transition: opacity 0.25s ease;
  }
  .button_container:hover {
    opacity: 0.7;
  }
  .button_container.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #fff;
  }
  .button_container.active .middle {
    opacity: 0;
    background: #fff;
  }
  .button_container.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #fff;
  }

  .is-fixed .button_container.active .top{
    background: black
  }
  .is-fixed .button_container.active .middle{
    background: black
  }
  .is-fixed .button_container.active .bottom{
    background: black
  }

  .is-fixed  .button_container span {
    background: black
  }
  .button_container span {
    background: #fff;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.35s ease;
    cursor: pointer;
    z-index: 10000;
  }
  .button_container span:nth-of-type(2) {
    top: 11px;
  }
  .button_container span:nth-of-type(3) {
    top: 22px;
  }
  .overlay {
    position: fixed;
    background: #f0e9e4;
    top: 30px;
    left: 30px;
    bottom: 30px;
    right: 30px;
    /* width: 100%;
    height: 0%; */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    overflow: hidden;
    z-index: 4;
  }
  .overlay.open {
    opacity: 0.9;
    visibility: visible;
    height: 750px;
    z-index: 90;

  }
  .overlay.open li {
    animation: fadeInRight 0.5s ease forwards;
    animation-delay: 0.35s;
  }
  .overlay.open li:nth-of-type(2) {
    animation-delay: 0.4s;
  }
  .overlay.open li:nth-of-type(3) {
    animation-delay: 0.45s;
  }
  .overlay.open li:nth-of-type(4) {
    animation-delay: 0.5s;
  }
  .overlay.open li:nth-of-type(5) {
    animation-delay: 0.55s;
  }
  .overlay.open li:nth-of-type(6) {
    animation-delay: 0.6s;
  }
  .overlay nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    font-weight: 400;
    text-align: center;
  }
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
  }
  .overlay ul li {
    display: block;
    height: 15%;
    height: calc(60% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
  }
  .overlay ul li a {
    display: block;
    position: relative;
    color: #000;
    text-decoration: none;
    overflow: hidden;
    text-transform: uppercase;
  }
  .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
    width: 100%;
  }
  .overlay ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    transform: translateX(-50%);
    height: 3px;
    background: #A68164;
    transition: 0.35s;
  }
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }
  .carousel-inner img{
    filter: brightness(70%);
  }
  .modal-backdrop.show {
    opacity: 0;
}

.modal-backdrop {
    z-index: -100;
}

.formbook .modal-content {
    width: 100% !important;
    margin: auto;
    z-index: 1000;
}

.booknowhd .book {
    background: #f0e9e4;
}
.bookform p{
  color: #a68164;
  text-align: center !important;
  display: inline-block;
    margin-bottom: .5rem;
}
.bookform{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center
}
.close{
    position: absolute;
    left: 20px;
    top: 5px;
    z-index: 100;
    color: black;
    padding: 5px;
    background: #fff
}
.fa-calendar-alt{
  color: black;
  position: absolute;
    top: 10px;
    right: 20px;
    z-index: 10;
}
.link-book button{
  width: 100%;
  background: #a68164;
  border: none;
  height: 40px;
  color: #FFF
}
.text-form{
  padding-top: 200px; 
  padding-left: 50px;
}

.sign .modal-header{
  z-index: 1001;
  background: url('../image/login.png');
  height: 600px;
}
.sign .modal-open .modal {
  background: #ffffff38;
}
.sign .modal-header .close{
  color: white;
}
.linksign{
  padding: none;
}
.fm1{
  padding-top: 100px;
  padding-bottom: 30px;
  padding-right: 50px;
  padding-left: 50px;
  background: #f5f5f5;
  margin-top: -50px;
  width: 100%
}
.fm1 span{
  color: #A68164;
  font-size: 29px;
}
.fm1 p{
  font-size: 20px;
  margin-bottom: 60px;
}

.fm2{ 
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 50px;
  padding-left: 50px;
  background: #f5f5f5;
  margin-top: -50px;
  width: 100%
}
.fm2 span{
  color: #A68164;
  font-size: 30px;
}
.fm2 p{
  font-size: 20px;
  margin-bottom: 60px;
}


.submit-dn button{
  background: #161e26;
  color: #A68164;
}
.fm1 input{
  height: 60px;
  margin-bottom: 30px;
}
.linknew{
  margin-top: 150px;
}
.linknew a{
  font-size: 12px !important;
}

.line{
    height: 3px;
    background: #a68164;
    width: 21px;
    position: absolute;
    right: 20px;
    bottom: 10px;
}
 h1{
  color: #a68164;
}
footer{
  background: #161e26;
  padding-top: 50px;
}
footer p{
  color: white;
}
footer span{
  font-size: 24px;
  color: #989898;
  margin-bottom: 20px;
}
.link-ft{
  margin-top: 10px;
}
.link-ft a{
  color: #989898
}
footer li{
  list-style: none;
}
footer i{
  color: #989898;
  font-size: 30px;
  margin-right: 15px;
}
.ft-SUBCRIBE{
  padding-bottom: 30px;
}
.ft-SUBCRIBE button{
  background: #a68164;
  color: white
}
.ft-SUBCRIBE p{
  color: #989898
}
.end-ft{
  background: #A68164;
  padding-top: 10px;
}
.end-ft span{
  color: #ffffff;
  font-size: 13px;
}

.mn .modal-dialog li{
  list-style: none;
  padding-bottom: 20px;
}
.mn .modal-header{
  border-bottom: 0px;
}
.mn .modal-dialog li a{
  font-size: 40px;
  color: #161e26;
}
.mn .modal-dialog li a:hover{
  text-decoration: none;
}
.mn ul li{
  text-align: center;
}
.mn .modal-content{
  background: #f0e9e4 !important;
  padding-bottom: 100px;
  padding-top: 60px;
} 
.mn .fa-bars{
  font-size: 30px;
}

/* header mobile */
.menu-mobile{
  background: #161e26;
}
.menu-mobile .fa-bars{
  font-size: 25px;
  color: white;
  padding-top: 20px;
  padding-left: 15px;
}
.menu-mobile a{
  text-transform: uppercase;
}
.lg-mb img{
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.sign2 .fa-sign-in-alt{
  font-size: 25px;
  color: white;
  padding-top: 20px;
}
.nn1 .dropdown{
  padding-top: 20px;
}
.nn1 a{
  color: white;
}
#myModal2 .modal-content{
  width: 90% !important;
  margin: auto
}
.menu-mobile .formbook i{
  font-size: 20px;
  color: white;
  padding-top: 20px;
}
.menu-mobile .col-2 li{
  list-style: none;
  text-align: center;
}
.menu-mobile .col-2{
  border-right: 1px solid #fff;
}




@media(max-width: 1024px){
  .button_container{
    top: 4%;
  }
}

@media(max-width: 768px){
  .button_container{
    top: 9%; 
    left: 5%;
  }
}
@media(max-width: 414px){
  .mn a{
    color: white;
  }
  .mn .iconify{
    margin-top: 20px;
    margin-left: 15px;
  }
  
  .sign2 a{
    color: white;
    font-size: 30px !important;
  }
  .sign2 .iconify{
    margin-top: 17px;
  }
  .formbook a{
    color: white;
    font-size: 30px !important;
  }
  .formbook .iconify{
    margin-top: 17px;
  }
  
  
  
  .mn .modal-content{
    width: 90%;
    margin: auto;
  } 
  
  .modal-content{
    margin-top: 50px;
  }
  .sign .modal-header .close{
    color: black;
  }
  .slide1 .carousel-inner img{
    height: 650px;
  }
  .text-form{
    padding-top: 50px;
  }
  .overlay ul li a{
    font-size: 20px;
  }
  .overlay ul li{
    height: calc(35% / 4);
  }
  #site-header-inner{
    margin-top: -20px !important;
  }
  .button_container span{
    margin-top: -30px;
  }
  #mainnav>ul>li>a{
    line-height: 53px;
    font-size: 14px;
    margin: 0px 3.8px;
  }
  .button_container{
    width: 25px;
    height: 20px;
    top: 11%; 
    left: 10%;
  }
}
@media(max-width: 360px){
  .button_container{
    width: 25px;
    height: 20px;
    top: 11%; 
    left: 10%;
  }
}

@media(max-width: 375px){
  .button_container{
    top: 12%; 
  }
}
@media(max-width: 320px){
  .mainnav .dropdown{
    visibility: hidden;
  }
}


@media (min-width: 576px) {
    .modal-dialog {
        max-width: 95% !important;
        margin: 1.75rem auto;
    }
    .sign .modal-dialog {
      max-width: 70% !important;
      margin-top: 100px;
    }
    .sign .modal{
      background: rgba(255, 255, 255, 0.424);
    }

}
